--
-- PostgreSQL database dump
--

\restrict e3TcngHconK6CmetzMicMxrtxvzFIYdhkTRz2UsnZXi9JX6DpGKWhrvvJA4eB1m

-- Dumped from database version 15.15
-- Dumped by pg_dump version 15.15

SET statement_timeout = 0;
SET lock_timeout = 0;
SET idle_in_transaction_session_timeout = 0;
SET client_encoding = 'UTF8';
SET standard_conforming_strings = on;
SELECT pg_catalog.set_config('search_path', '', false);
SET check_function_bodies = false;
SET xmloption = content;
SET client_min_messages = warning;
SET row_security = off;

--
-- Name: uuid-ossp; Type: EXTENSION; Schema: -; Owner: -
--

CREATE EXTENSION IF NOT EXISTS "uuid-ossp" WITH SCHEMA public;


--
-- Name: EXTENSION "uuid-ossp"; Type: COMMENT; Schema: -; Owner: -
--

COMMENT ON EXTENSION "uuid-ossp" IS 'generate universally unique identifiers (UUIDs)';


--
-- Name: cleanup_old_audit_logs(integer); Type: FUNCTION; Schema: public; Owner: -
--

CREATE FUNCTION public.cleanup_old_audit_logs(days_to_keep integer DEFAULT 90) RETURNS integer
    LANGUAGE plpgsql
    AS $$
DECLARE
    deleted_count INTEGER;
BEGIN
    DELETE FROM audit_logs 
    WHERE created_at < NOW() - (days_to_keep || ' days')::INTERVAL;
    
    GET DIAGNOSTICS deleted_count = ROW_COUNT;
    RETURN deleted_count;
END;
$$;


--
-- Name: FUNCTION cleanup_old_audit_logs(days_to_keep integer); Type: COMMENT; Schema: public; Owner: -
--

COMMENT ON FUNCTION public.cleanup_old_audit_logs(days_to_keep integer) IS 'Eski audit loglar─▒n─▒ temizler. Varsay─▒lan 90 g├╝n.';


--
-- Name: get_city_coordinates(character varying); Type: FUNCTION; Schema: public; Owner: -
--

CREATE FUNCTION public.get_city_coordinates(p_city_name character varying) RETURNS TABLE(lat numeric, lng numeric, found_name character varying)
    LANGUAGE plpgsql
    AS $$
BEGIN
    RETURN QUERY
    SELECT 
        gl.latitude,
        gl.longitude,
        gl.city_name
    FROM geographic_locations gl
    WHERE gl.location_type = 'CITY'
      AND (
          LOWER(gl.city_name) = LOWER(p_city_name)
          OR LOWER(gl.name_ascii) = LOWER(p_city_name)
          OR p_city_name = ANY(gl.name_alternatives)
      )
    LIMIT 1;
END;
$$;


--
-- Name: get_district_coordinates(character varying, character varying); Type: FUNCTION; Schema: public; Owner: -
--

CREATE FUNCTION public.get_district_coordinates(p_city_name character varying, p_district_name character varying) RETURNS TABLE(lat numeric, lng numeric, found_name character varying)
    LANGUAGE plpgsql
    AS $$
BEGIN
    RETURN QUERY
    SELECT 
        gl.latitude,
        gl.longitude,
        gl.district_name
    FROM geographic_locations gl
    WHERE gl.location_type = 'DISTRICT'
      AND (
          LOWER(gl.city_name) = LOWER(p_city_name)
          OR LOWER(gl.name_ascii) = LOWER(p_city_name)
      )
      AND (
          LOWER(gl.district_name) = LOWER(p_district_name)
          OR LOWER(gl.name_ascii) = LOWER(p_district_name)
      )
    LIMIT 1;
END;
$$;


--
-- Name: search_location(character varying); Type: FUNCTION; Schema: public; Owner: -
--

CREATE FUNCTION public.search_location(p_search character varying) RETURNS TABLE(location_id uuid, location_type character varying, city_name character varying, district_name character varying, neighborhood_name character varying, lat numeric, lng numeric)
    LANGUAGE plpgsql
    AS $$
BEGIN
    RETURN QUERY
    SELECT 
        gl.id,
        gl.location_type,
        gl.city_name,
        gl.district_name,
        gl.neighborhood_name,
        gl.latitude,
        gl.longitude
    FROM geographic_locations gl
    WHERE 
        LOWER(gl.city_name) LIKE LOWER('%' || p_search || '%')
        OR LOWER(gl.district_name) LIKE LOWER('%' || p_search || '%')
        OR LOWER(gl.neighborhood_name) LIKE LOWER('%' || p_search || '%')
        OR LOWER(gl.name_ascii) LIKE LOWER('%' || p_search || '%')
    ORDER BY 
        CASE gl.location_type 
            WHEN 'CITY' THEN 1 
            WHEN 'DISTRICT' THEN 2 
            WHEN 'NEIGHBORHOOD' THEN 3 
            ELSE 4 
        END,
        gl.population DESC NULLS LAST
    LIMIT 20;
END;
$$;


--
-- Name: update_updated_at_column(); Type: FUNCTION; Schema: public; Owner: -
--

CREATE FUNCTION public.update_updated_at_column() RETURNS trigger
    LANGUAGE plpgsql
    AS $$
BEGIN
    NEW.updated_at = NOW();
    RETURN NEW;
END;
$$;


SET default_tablespace = '';

SET default_table_access_method = heap;

--
-- Name: audit_logs; Type: TABLE; Schema: public; Owner: -
--

CREATE TABLE public.audit_logs (
    id uuid DEFAULT gen_random_uuid() NOT NULL,
    tenant_id uuid,
    user_id uuid,
    action character varying(100) NOT NULL,
    entity_type character varying(100),
    entity_id uuid,
    old_values jsonb,
    new_values jsonb,
    ip_address character varying(50),
    user_agent text,
    created_at timestamp without time zone DEFAULT now(),
    resource_type character varying(100),
    resource_id character varying(255),
    resource_name character varying(255),
    details jsonb,
    success boolean DEFAULT true,
    error_message text
);


--
-- Name: TABLE audit_logs; Type: COMMENT; Schema: public; Owner: -
--

COMMENT ON TABLE public.audit_logs IS 'Kullan─▒c─▒ aktivite ve sistem olaylar─▒ kayd─▒';


--
-- Name: COLUMN audit_logs.action; Type: COMMENT; Schema: public; Owner: -
--

COMMENT ON COLUMN public.audit_logs.action IS 'CREATE, READ, UPDATE, DELETE, LOGIN, LOGOUT, EXPORT, IMPORT, SYNC, ERROR';


--
-- Name: components; Type: TABLE; Schema: public; Owner: -
--

CREATE TABLE public.components (
    id uuid DEFAULT gen_random_uuid() NOT NULL,
    tenant_id uuid,
    design_id uuid,
    dataset_id uuid,
    type character varying(50) NOT NULL,
    label character varying(255) NOT NULL,
    config jsonb NOT NULL,
    "position" jsonb NOT NULL,
    data_config jsonb,
    style jsonb DEFAULT '{}'::jsonb,
    created_at timestamp without time zone DEFAULT now(),
    updated_at timestamp without time zone DEFAULT now()
);


--
-- Name: TABLE components; Type: COMMENT; Schema: public; Owner: -
--

COMMENT ON TABLE public.components IS 'Dashboard widget''lar─▒';


--
-- Name: data_connections; Type: TABLE; Schema: public; Owner: -
--

CREATE TABLE public.data_connections (
    id uuid DEFAULT gen_random_uuid() NOT NULL,
    tenant_id uuid,
    name character varying(255) NOT NULL,
    type character varying(50) NOT NULL,
    host character varying(255),
    port integer,
    database_name character varying(255),
    username character varying(255),
    password_encrypted character varying(500),
    api_config jsonb,
    file_path character varying(500),
    status character varying(50) DEFAULT 'pending'::character varying,
    last_tested_at timestamp without time zone,
    created_at timestamp without time zone DEFAULT now(),
    updated_at timestamp without time zone DEFAULT now(),
    description text,
    status_message text,
    created_by uuid
);


--
-- Name: TABLE data_connections; Type: COMMENT; Schema: public; Owner: -
--

COMMENT ON TABLE public.data_connections IS 'M├╝┼şteri veritabanlar─▒na ba─şlant─▒ bilgileri';


--
-- Name: datasets; Type: TABLE; Schema: public; Owner: -
--

CREATE TABLE public.datasets (
    id uuid DEFAULT gen_random_uuid() NOT NULL,
    tenant_id uuid,
    connection_id uuid,
    name character varying(255) NOT NULL,
    source_table character varying(255),
    column_mapping jsonb NOT NULL,
    sync_strategy character varying(50) DEFAULT 'full_refresh'::character varying,
    sync_schedule character varying(50),
    reference_column character varying(255),
    row_limit integer DEFAULT 100000,
    clickhouse_table character varying(255),
    status character varying(50) DEFAULT 'pending'::character varying,
    last_sync_at timestamp without time zone,
    last_sync_rows integer,
    created_at timestamp without time zone DEFAULT now(),
    updated_at timestamp without time zone DEFAULT now(),
    description text,
    source_type character varying(50) DEFAULT 'table'::character varying,
    source_query text,
    partition_by character varying(100),
    order_by_columns text[],
    created_by uuid,
    status_message text,
    last_sync_value text,
    total_rows bigint DEFAULT 0,
    date_column character varying(100),
    partition_scope character varying(20) DEFAULT 'today'::character varying,
    partition_column character varying(100) DEFAULT NULL::character varying,
    partition_type character varying(20) DEFAULT 'monthly'::character varying,
    refresh_window_days integer DEFAULT 0,
    archive_after_days integer DEFAULT 0,
    detect_modified boolean DEFAULT false,
    modified_column character varying(100) DEFAULT NULL::character varying,
    weekly_full_refresh boolean DEFAULT false,
    engine_type character varying(50) DEFAULT 'MergeTree'::character varying,
    custom_where text,
    store_column character varying(100),
    value_column character varying(100),
    qty_column character varying(100),
    category_column character varying(100),
    delete_days integer,
    region_column character varying(100),
    group_column character varying(100)
);


--
-- Name: TABLE datasets; Type: COMMENT; Schema: public; Owner: -
--

COMMENT ON TABLE public.datasets IS 'ClickHouse''a aktar─▒lacak veri setleri';


--
-- Name: COLUMN datasets.partition_column; Type: COMMENT; Schema: public; Owner: -
--

COMMENT ON COLUMN public.datasets.partition_column IS 'ClickHouse partition i├ğin kullan─▒lacak tarih kolonu';


--
-- Name: COLUMN datasets.partition_type; Type: COMMENT; Schema: public; Owner: -
--

COMMENT ON COLUMN public.datasets.partition_type IS 'monthly veya daily partition tipi';


--
-- Name: COLUMN datasets.refresh_window_days; Type: COMMENT; Schema: public; Owner: -
--

COMMENT ON COLUMN public.datasets.refresh_window_days IS 'Sliding window - son ka├ğ g├╝n yenilenecek (0=t├╝m├╝)';


--
-- Name: COLUMN datasets.archive_after_days; Type: COMMENT; Schema: public; Owner: -
--

COMMENT ON COLUMN public.datasets.archive_after_days IS 'Ka├ğ g├╝nden sonra partition dondurulacak (0=hi├ğ)';


--
-- Name: COLUMN datasets.detect_modified; Type: COMMENT; Schema: public; Owner: -
--

COMMENT ON COLUMN public.datasets.detect_modified IS 'modified_at ile de─şi┼şiklik alg─▒lama aktif mi';


--
-- Name: COLUMN datasets.modified_column; Type: COMMENT; Schema: public; Owner: -
--

COMMENT ON COLUMN public.datasets.modified_column IS 'De─şi┼şiklik tarihini tutan kolon ad─▒';


--
-- Name: COLUMN datasets.weekly_full_refresh; Type: COMMENT; Schema: public; Owner: -
--

COMMENT ON COLUMN public.datasets.weekly_full_refresh IS 'Haftal─▒k tam yenileme yap─▒ls─▒n m─▒';


--
-- Name: COLUMN datasets.engine_type; Type: COMMENT; Schema: public; Owner: -
--

COMMENT ON COLUMN public.datasets.engine_type IS 'ClickHouse engine: MergeTree, ReplacingMergeTree';


--
-- Name: COLUMN datasets.custom_where; Type: COMMENT; Schema: public; Owner: -
--

COMMENT ON COLUMN public.datasets.custom_where IS 'Full Refresh i├ğin opsiyonel WHERE ko┼şulu. ├ûrnek: tarih >= CURRENT_DATE - 7';


--
-- Name: design_permissions; Type: TABLE; Schema: public; Owner: -
--

CREATE TABLE public.design_permissions (
    id uuid DEFAULT gen_random_uuid() NOT NULL,
    design_id uuid,
    permission_type character varying(20) NOT NULL,
    permission_value character varying(50) NOT NULL,
    access_level character varying(20) DEFAULT 'view'::character varying,
    created_at timestamp without time zone DEFAULT now()
);


--
-- Name: design_widgets; Type: TABLE; Schema: public; Owner: -
--

CREATE TABLE public.design_widgets (
    id uuid DEFAULT gen_random_uuid() NOT NULL,
    design_id uuid,
    metric_id uuid,
    title character varying(200),
    subtitle character varying(200),
    widget_type character varying(30),
    grid_x integer DEFAULT 0,
    grid_y integer DEFAULT 0,
    grid_w integer DEFAULT 3,
    grid_h integer DEFAULT 2,
    config_override jsonb DEFAULT '{}'::jsonb,
    sort_order integer DEFAULT 0,
    is_visible boolean DEFAULT true,
    created_at timestamp without time zone DEFAULT now()
);


--
-- Name: designs; Type: TABLE; Schema: public; Owner: -
--

CREATE TABLE public.designs (
    id uuid DEFAULT gen_random_uuid() NOT NULL,
    tenant_id uuid,
    name character varying(255) NOT NULL,
    description text,
    is_default boolean DEFAULT false,
    layout_config jsonb DEFAULT '{}'::jsonb,
    settings jsonb DEFAULT '{}'::jsonb,
    created_by uuid,
    created_at timestamp without time zone DEFAULT now(),
    updated_at timestamp without time zone DEFAULT now(),
    type character varying(50) DEFAULT 'cockpit'::character varying,
    target_roles jsonb DEFAULT '["ADMIN"]'::jsonb,
    is_active boolean DEFAULT true,
    grid_columns integer DEFAULT 24,
    row_height integer DEFAULT 80,
    allowed_positions text[] DEFAULT ARRAY['GENERAL_MANAGER'::text, 'DIRECTOR'::text, 'REGION_MANAGER'::text, 'STORE_MANAGER'::text, 'ANALYST'::text, 'VIEWER'::text]
);


--
-- Name: TABLE designs; Type: COMMENT; Schema: public; Owner: -
--

COMMENT ON TABLE public.designs IS 'Dashboard tasar─▒mlar─▒';


--
-- Name: COLUMN designs.allowed_positions; Type: COMMENT; Schema: public; Owner: -
--

COMMENT ON COLUMN public.designs.allowed_positions IS 'Bu raporu g├Ârebilecek pozisyonlar─▒n listesi. Bo┼ş ise herkes g├Ârebilir.';


--
-- Name: etl_jobs; Type: TABLE; Schema: public; Owner: -
--

CREATE TABLE public.etl_jobs (
    id uuid DEFAULT gen_random_uuid() NOT NULL,
    tenant_id uuid,
    dataset_id uuid,
    action character varying(50) NOT NULL,
    status character varying(50) DEFAULT 'pending'::character varying NOT NULL,
    started_at timestamp without time zone,
    completed_at timestamp without time zone,
    rows_processed integer DEFAULT 0,
    error_message text,
    created_at timestamp without time zone DEFAULT now(),
    triggered_by uuid,
    retry_count integer DEFAULT 0,
    error_details jsonb,
    rows_inserted integer DEFAULT 0,
    rows_updated integer DEFAULT 0,
    rows_deleted integer DEFAULT 0,
    scheduled_at timestamp without time zone
);


--
-- Name: TABLE etl_jobs; Type: COMMENT; Schema: public; Owner: -
--

COMMENT ON TABLE public.etl_jobs IS 'ETL i┼şlerinin ge├ğmi┼şi';


--
-- Name: etl_scheduler_logs; Type: TABLE; Schema: public; Owner: -
--

CREATE TABLE public.etl_scheduler_logs (
    id uuid DEFAULT gen_random_uuid() NOT NULL,
    tenant_id uuid,
    checked_at timestamp without time zone DEFAULT now(),
    schedules_found integer DEFAULT 0,
    schedules_triggered integer DEFAULT 0,
    schedules_skipped integer DEFAULT 0,
    details jsonb,
    created_at timestamp without time zone DEFAULT now(),
    schedules_missed integer DEFAULT 0
);


--
-- Name: etl_schedules; Type: TABLE; Schema: public; Owner: -
--

CREATE TABLE public.etl_schedules (
    id uuid DEFAULT public.uuid_generate_v4() NOT NULL,
    tenant_id uuid NOT NULL,
    dataset_id uuid NOT NULL,
    cron_expression character varying(100) NOT NULL,
    timezone character varying(100) DEFAULT 'Europe/Istanbul'::character varying,
    is_active boolean DEFAULT true,
    next_run_at timestamp with time zone,
    last_run_at timestamp with time zone,
    last_job_id uuid,
    created_at timestamp with time zone DEFAULT now(),
    updated_at timestamp with time zone DEFAULT now()
);


--
-- Name: geographic_locations; Type: TABLE; Schema: public; Owner: -
--

CREATE TABLE public.geographic_locations (
    id uuid DEFAULT gen_random_uuid() NOT NULL,
    country_code character varying(3) DEFAULT 'TR'::character varying,
    country_name character varying(100) DEFAULT 'T├╝rkiye'::character varying,
    region_code character varying(50),
    region_name character varying(100),
    city_code character varying(10),
    city_name character varying(100),
    district_code character varying(20),
    district_name character varying(100),
    neighborhood_code character varying(20),
    neighborhood_name character varying(200),
    postal_code character varying(10),
    latitude numeric(10,7),
    longitude numeric(10,7),
    bbox_north numeric(10,7),
    bbox_south numeric(10,7),
    bbox_east numeric(10,7),
    bbox_west numeric(10,7),
    location_type character varying(20) NOT NULL,
    parent_id uuid,
    population integer,
    area_km2 numeric(10,2),
    name_ascii character varying(200),
    name_alternatives text[],
    data_source character varying(100),
    is_active boolean DEFAULT true,
    created_at timestamp without time zone DEFAULT now(),
    updated_at timestamp without time zone DEFAULT now()
);


--
-- Name: TABLE geographic_locations; Type: COMMENT; Schema: public; Owner: -
--

COMMENT ON TABLE public.geographic_locations IS 'T├╝rkiye m├╝lki idari b├Âl├╝mler master tablosu - Harita g├Ârselle┼ştirmesi i├ğin koordinat lookup';


--
-- Name: COLUMN geographic_locations.location_type; Type: COMMENT; Schema: public; Owner: -
--

COMMENT ON COLUMN public.geographic_locations.location_type IS 'COUNTRY, REGION, CITY, DISTRICT, NEIGHBORHOOD';


--
-- Name: COLUMN geographic_locations.name_ascii; Type: COMMENT; Schema: public; Owner: -
--

COMMENT ON COLUMN public.geographic_locations.name_ascii IS 'T├╝rk├ğe karakter i├ğermeyen versiyon (arama i├ğin)';


--
-- Name: labels; Type: TABLE; Schema: public; Owner: -
--

CREATE TABLE public.labels (
    id uuid DEFAULT public.uuid_generate_v4() NOT NULL,
    tenant_id uuid NOT NULL,
    label_type character varying(50) NOT NULL,
    label_key character varying(100) NOT NULL,
    label_value character varying(200) NOT NULL,
    description text,
    is_active boolean DEFAULT true,
    created_at timestamp without time zone DEFAULT now(),
    updated_at timestamp without time zone DEFAULT now()
);


--
-- Name: ldap_config; Type: TABLE; Schema: public; Owner: -
--

CREATE TABLE public.ldap_config (
    id uuid DEFAULT gen_random_uuid() NOT NULL,
    tenant_id uuid NOT NULL,
    name character varying(255) DEFAULT 'Default LDAP'::character varying NOT NULL,
    server_url character varying(500) NOT NULL,
    base_dn character varying(500) NOT NULL,
    bind_dn character varying(500) NOT NULL,
    bind_password_encrypted character varying(1000) NOT NULL,
    user_search_base character varying(500),
    user_filter character varying(500) DEFAULT '(&(objectClass=user)(mail=*))'::character varying,
    group_search_base character varying(500),
    group_filter character varying(500) DEFAULT '(objectClass=group)'::character varying,
    sync_schedule character varying(50) DEFAULT 'manual'::character varying,
    is_active boolean DEFAULT false,
    last_sync_at timestamp without time zone,
    created_at timestamp without time zone DEFAULT now(),
    updated_at timestamp without time zone DEFAULT now()
);


--
-- Name: ldap_position_mappings; Type: TABLE; Schema: public; Owner: -
--

CREATE TABLE public.ldap_position_mappings (
    id uuid DEFAULT gen_random_uuid() NOT NULL,
    tenant_id uuid NOT NULL,
    ldap_group_dn character varying(500) NOT NULL,
    ldap_group_name character varying(255) NOT NULL,
    position_code character varying(50) NOT NULL,
    priority integer DEFAULT 100,
    created_at timestamp without time zone DEFAULT now(),
    updated_at timestamp without time zone DEFAULT now()
);


--
-- Name: ldap_store_mappings; Type: TABLE; Schema: public; Owner: -
--

CREATE TABLE public.ldap_store_mappings (
    id uuid DEFAULT gen_random_uuid() NOT NULL,
    tenant_id uuid NOT NULL,
    ldap_group_dn character varying(500) NOT NULL,
    ldap_group_name character varying(255) NOT NULL,
    store_id character varying(100) NOT NULL,
    store_name character varying(255),
    grants_all_stores boolean DEFAULT false,
    created_at timestamp without time zone DEFAULT now(),
    updated_at timestamp without time zone DEFAULT now()
);


--
-- Name: ldap_sync_logs; Type: TABLE; Schema: public; Owner: -
--

CREATE TABLE public.ldap_sync_logs (
    id uuid DEFAULT gen_random_uuid() NOT NULL,
    tenant_id uuid NOT NULL,
    started_at timestamp without time zone DEFAULT now() NOT NULL,
    completed_at timestamp without time zone,
    status character varying(50) DEFAULT 'running'::character varying NOT NULL,
    users_found integer DEFAULT 0,
    users_created integer DEFAULT 0,
    users_updated integer DEFAULT 0,
    users_deactivated integer DEFAULT 0,
    users_skipped integer DEFAULT 0,
    errors jsonb DEFAULT '[]'::jsonb,
    summary text,
    created_at timestamp without time zone DEFAULT now()
);


--
-- Name: menu_permissions; Type: TABLE; Schema: public; Owner: -
--

CREATE TABLE public.menu_permissions (
    id uuid DEFAULT gen_random_uuid() NOT NULL,
    position_code character varying(50),
    menu_key character varying(100) NOT NULL,
    can_view boolean DEFAULT true,
    can_edit boolean DEFAULT false
);


--
-- Name: metrics; Type: TABLE; Schema: public; Owner: -
--

CREATE TABLE public.metrics (
    id uuid DEFAULT public.uuid_generate_v4() NOT NULL,
    tenant_id uuid NOT NULL,
    dataset_id uuid,
    name character varying(255) NOT NULL,
    description text,
    query_sql text,
    result_type character varying(50) DEFAULT 'number'::character varying,
    format_pattern character varying(100),
    prefix character varying(50),
    suffix character varying(50),
    aggregation_type character varying(50) DEFAULT 'sum'::character varying,
    parameters jsonb DEFAULT '[]'::jsonb,
    cache_ttl integer DEFAULT 300,
    is_active boolean DEFAULT true,
    created_at timestamp with time zone DEFAULT now(),
    updated_at timestamp with time zone DEFAULT now(),
    created_by uuid,
    label character varying(255),
    icon character varying(100) DEFAULT 'BarChart3'::character varying,
    color character varying(50) DEFAULT '#6366f1'::character varying,
    clickhouse_table character varying(255),
    db_column character varying(255),
    filter_sql text,
    group_by_column character varying(255),
    order_by_column character varying(255),
    order_direction character varying(10) DEFAULT 'DESC'::character varying,
    visualization_type character varying(50) DEFAULT 'kpi_card'::character varying,
    chart_config jsonb DEFAULT '{}'::jsonb,
    format_config jsonb DEFAULT '{}'::jsonb,
    comparison_enabled boolean DEFAULT false,
    comparison_type character varying(50),
    target_value numeric(20,4),
    target_column character varying(255),
    default_width integer DEFAULT 4,
    default_height integer DEFAULT 2,
    comparison_config jsonb DEFAULT '{}'::jsonb,
    use_sql_mode boolean DEFAULT false,
    custom_sql text
);


--
-- Name: TABLE metrics; Type: COMMENT; Schema: public; Owner: -
--

COMMENT ON TABLE public.metrics IS 'ClickHouse sorgular─▒ndan olu┼şan metrikler';


--
-- Name: notifications; Type: TABLE; Schema: public; Owner: -
--

CREATE TABLE public.notifications (
    id uuid DEFAULT gen_random_uuid() NOT NULL,
    tenant_id uuid,
    user_id uuid,
    type character varying(50) NOT NULL,
    title character varying(255) NOT NULL,
    message text,
    is_read boolean DEFAULT false,
    read_at timestamp without time zone,
    data jsonb DEFAULT '{}'::jsonb,
    created_at timestamp without time zone DEFAULT now()
);


--
-- Name: ownership_groups; Type: TABLE; Schema: public; Owner: -
--

CREATE TABLE public.ownership_groups (
    id uuid DEFAULT gen_random_uuid() NOT NULL,
    tenant_id uuid,
    code character varying(50) NOT NULL,
    name character varying(255) NOT NULL,
    description text,
    color character varying(20),
    icon character varying(50),
    is_active boolean DEFAULT true,
    sort_order integer DEFAULT 0,
    created_at timestamp without time zone DEFAULT now(),
    updated_at timestamp without time zone DEFAULT now()
);


--
-- Name: positions; Type: TABLE; Schema: public; Owner: -
--

CREATE TABLE public.positions (
    id uuid DEFAULT gen_random_uuid() NOT NULL,
    code character varying(50) NOT NULL,
    name character varying(100) NOT NULL,
    hierarchy_level integer DEFAULT 0 NOT NULL,
    can_see_all_stores boolean DEFAULT false,
    description text,
    created_at timestamp with time zone DEFAULT now(),
    updated_at timestamp with time zone DEFAULT now(),
    filter_level character varying(20) DEFAULT 'store'::character varying
);


--
-- Name: regions; Type: TABLE; Schema: public; Owner: -
--

CREATE TABLE public.regions (
    id uuid DEFAULT gen_random_uuid() NOT NULL,
    tenant_id uuid,
    code character varying(50) NOT NULL,
    name character varying(200) NOT NULL,
    description text,
    is_active boolean DEFAULT true,
    created_at timestamp with time zone DEFAULT now(),
    manager_name character varying(255),
    manager_email character varying(255),
    sort_order integer DEFAULT 0,
    updated_at timestamp without time zone DEFAULT now()
);


--
-- Name: store_finance_settings; Type: TABLE; Schema: public; Owner: -
--

CREATE TABLE public.store_finance_settings (
    id uuid DEFAULT gen_random_uuid() NOT NULL,
    tenant_id uuid,
    store_id character varying(100) NOT NULL,
    store_name character varying(200),
    fixed_rent numeric(15,2) DEFAULT 0,
    revenue_share_percent numeric(5,2) DEFAULT 0,
    common_area_cost numeric(15,2) DEFAULT 0,
    target_cogs_percent numeric(5,2) DEFAULT 35,
    royalty_percent numeric(5,2) DEFAULT 0,
    marketing_percent numeric(5,2) DEFAULT 0,
    electricity_budget numeric(15,2) DEFAULT 0,
    water_budget numeric(15,2) DEFAULT 0,
    manager_count integer DEFAULT 1,
    manager_salary numeric(15,2) DEFAULT 0,
    kitchen_count integer DEFAULT 0,
    kitchen_salary numeric(15,2) DEFAULT 0,
    service_count integer DEFAULT 0,
    service_salary numeric(15,2) DEFAULT 0,
    courier_count integer DEFAULT 0,
    courier_salary numeric(15,2) DEFAULT 0,
    initial_investment numeric(15,2) DEFAULT 0,
    opening_date date,
    created_at timestamp with time zone DEFAULT now(),
    updated_at timestamp with time zone DEFAULT now()
);


--
-- Name: stores; Type: TABLE; Schema: public; Owner: -
--

CREATE TABLE public.stores (
    id uuid DEFAULT gen_random_uuid() NOT NULL,
    tenant_id uuid,
    code character varying(100) NOT NULL,
    name character varying(200) NOT NULL,
    store_type character varying(20) DEFAULT 'MERKEZ'::character varying,
    region_id uuid,
    city character varying(100),
    address text,
    phone character varying(50),
    email character varying(200),
    manager_name character varying(200),
    opening_date date,
    is_active boolean DEFAULT true,
    created_at timestamp with time zone DEFAULT now(),
    updated_at timestamp with time zone DEFAULT now(),
    ownership_group character varying(50),
    district character varying(100),
    postal_code character varying(20),
    country character varying(50) DEFAULT 'TR'::character varying,
    manager_email character varying(255),
    closing_date date,
    square_meters integer,
    employee_count integer,
    rent_amount numeric(15,2),
    target_revenue numeric(15,2),
    tags text[],
    metadata jsonb DEFAULT '{}'::jsonb,
    sort_order integer DEFAULT 0
);


--
-- Name: system_settings; Type: TABLE; Schema: public; Owner: -
--

CREATE TABLE public.system_settings (
    id uuid DEFAULT gen_random_uuid() NOT NULL,
    tenant_id uuid,
    category character varying(100) NOT NULL,
    key character varying(100) NOT NULL,
    value jsonb NOT NULL,
    created_at timestamp without time zone DEFAULT now(),
    updated_at timestamp without time zone DEFAULT now()
);


--
-- Name: tenants; Type: TABLE; Schema: public; Owner: -
--

CREATE TABLE public.tenants (
    id uuid DEFAULT gen_random_uuid() NOT NULL,
    name character varying(255) NOT NULL,
    slug character varying(100) NOT NULL,
    logo_url character varying(500),
    settings jsonb DEFAULT '{}'::jsonb,
    is_active boolean DEFAULT true,
    created_at timestamp without time zone DEFAULT now(),
    updated_at timestamp without time zone DEFAULT now()
);


--
-- Name: user_stores; Type: TABLE; Schema: public; Owner: -
--

CREATE TABLE public.user_stores (
    id uuid DEFAULT gen_random_uuid() NOT NULL,
    user_id uuid NOT NULL,
    store_id character varying(100) NOT NULL,
    store_name character varying(200),
    assigned_at timestamp with time zone DEFAULT now(),
    assigned_by uuid
);


--
-- Name: users; Type: TABLE; Schema: public; Owner: -
--

CREATE TABLE public.users (
    id uuid DEFAULT gen_random_uuid() NOT NULL,
    tenant_id uuid,
    email character varying(255) NOT NULL,
    password_hash character varying(255) NOT NULL,
    name character varying(255) NOT NULL,
    role character varying(50) DEFAULT 'USER'::character varying NOT NULL,
    is_active boolean DEFAULT true,
    last_login_at timestamp without time zone,
    two_factor_enabled boolean DEFAULT false,
    two_factor_secret character varying(255),
    preferences jsonb DEFAULT '{}'::jsonb,
    created_at timestamp without time zone DEFAULT now(),
    updated_at timestamp without time zone DEFAULT now(),
    position_code character varying(50),
    ldap_dn character varying(500),
    ldap_synced boolean DEFAULT false,
    ldap_last_sync_at timestamp without time zone,
    ldap_groups jsonb DEFAULT '[]'::jsonb,
    filter_value text,
    two_factor_backup_codes text[]
);


--
-- Name: v_cities_with_districts; Type: VIEW; Schema: public; Owner: -
--

CREATE VIEW public.v_cities_with_districts AS
 SELECT c.id AS city_id,
    c.city_code,
    c.city_name,
    c.region_code,
    c.region_name,
    c.latitude AS city_lat,
    c.longitude AS city_lng,
    c.population AS city_population,
    COALESCE(json_agg(json_build_object('id', d.id, 'name', d.district_name, 'lat', d.latitude, 'lng', d.longitude, 'population', d.population) ORDER BY d.population DESC NULLS LAST) FILTER (WHERE (d.id IS NOT NULL)), '[]'::json) AS districts
   FROM (public.geographic_locations c
     LEFT JOIN public.geographic_locations d ON (((d.parent_id = c.id) AND ((d.location_type)::text = 'DISTRICT'::text))))
  WHERE (((c.location_type)::text = 'CITY'::text) AND (c.is_active = true))
  GROUP BY c.id, c.city_code, c.city_name, c.region_code, c.region_name, c.latitude, c.longitude, c.population
  ORDER BY c.population DESC NULLS LAST;


--
-- Name: v_geographic_stats; Type: VIEW; Schema: public; Owner: -
--

CREATE VIEW public.v_geographic_stats AS
 SELECT geographic_locations.location_type,
    count(*) AS count,
    sum(geographic_locations.population) AS total_population
   FROM public.geographic_locations
  WHERE (geographic_locations.is_active = true)
  GROUP BY geographic_locations.location_type
  ORDER BY
        CASE geographic_locations.location_type
            WHEN 'COUNTRY'::text THEN 1
            WHEN 'REGION'::text THEN 2
            WHEN 'CITY'::text THEN 3
            WHEN 'DISTRICT'::text THEN 4
            WHEN 'NEIGHBORHOOD'::text THEN 5
            ELSE NULL::integer
        END;


--
-- Data for Name: audit_logs; Type: TABLE DATA; Schema: public; Owner: -
--

COPY public.audit_logs (id, tenant_id, user_id, action, entity_type, entity_id, old_values, new_values, ip_address, user_agent, created_at, resource_type, resource_id, resource_name, details, success, error_message) FROM stdin;
\.


--
-- Data for Name: components; Type: TABLE DATA; Schema: public; Owner: -
--

COPY public.components (id, tenant_id, design_id, dataset_id, type, label, config, "position", data_config, style, created_at, updated_at) FROM stdin;
\.


--
-- Data for Name: data_connections; Type: TABLE DATA; Schema: public; Owner: -
--

COPY public.data_connections (id, tenant_id, name, type, host, port, database_name, username, password_encrypted, api_config, file_path, status, last_tested_at, created_at, updated_at, description, status_message, created_by) FROM stdin;
\.


--
-- Data for Name: datasets; Type: TABLE DATA; Schema: public; Owner: -
--



--
-- Data for Name: design_permissions; Type: TABLE DATA; Schema: public; Owner: -
--

COPY public.design_permissions (id, design_id, permission_type, permission_value, access_level, created_at) FROM stdin;
\.


--
-- Data for Name: design_widgets; Type: TABLE DATA; Schema: public; Owner: -
--

COPY public.design_widgets (id, design_id, metric_id, title, subtitle, widget_type, grid_x, grid_y, grid_w, grid_h, config_override, sort_order, is_visible, created_at) FROM stdin;
\.


--
-- Data for Name: designs; Type: TABLE DATA; Schema: public; Owner: -
--

COPY public.designs (id, tenant_id, name, description, is_default, layout_config, settings, created_by, created_at, updated_at, type, target_roles, is_active, grid_columns, row_height, allowed_positions) FROM stdin;
\.


--
-- Data for Name: etl_jobs; Type: TABLE DATA; Schema: public; Owner: -
--

COPY public.etl_jobs (id, tenant_id, dataset_id, action, status, started_at, completed_at, rows_processed, error_message, created_at, triggered_by, retry_count, error_details, rows_inserted, rows_updated, rows_deleted, scheduled_at) FROM stdin;
\.


--
-- Data for Name: etl_scheduler_logs; Type: TABLE DATA; Schema: public; Owner: -
--



--
-- Data for Name: etl_schedules; Type: TABLE DATA; Schema: public; Owner: -
--

COPY public.etl_schedules (id, tenant_id, dataset_id, cron_expression, timezone, is_active, next_run_at, last_run_at, last_job_id, created_at, updated_at) FROM stdin;
\.


--
-- Data for Name: geographic_locations; Type: TABLE DATA; Schema: public; Owner: -
--



--
-- Data for Name: labels; Type: TABLE DATA; Schema: public; Owner: -
--



--
-- Data for Name: ldap_config; Type: TABLE DATA; Schema: public; Owner: -
--

COPY public.ldap_config (id, tenant_id, name, server_url, base_dn, bind_dn, bind_password_encrypted, user_search_base, user_filter, group_search_base, group_filter, sync_schedule, is_active, last_sync_at, created_at, updated_at) FROM stdin;
96561893-13c8-4e0a-a228-f85cb69d1bb1	00000000-0000-0000-0000-000000000001	Default LDAP	ldap://localhost:389	dc=clixer,dc=local	cn=admin,dc=clixer,dc=local	YWRtaW4xMjM=		(&(objectClass=inetOrgPerson)(mail=*))		(objectClass=group)	manual	t	2025-12-25 16:30:56.794174	2025-12-23 12:53:10.562662	2025-12-25 16:30:50.066511
\.


--
-- Data for Name: ldap_position_mappings; Type: TABLE DATA; Schema: public; Owner: -
--

COPY public.ldap_position_mappings (id, tenant_id, ldap_group_dn, ldap_group_name, position_code, priority, created_at, updated_at) FROM stdin;
\.


--
-- Data for Name: ldap_store_mappings; Type: TABLE DATA; Schema: public; Owner: -
--

COPY public.ldap_store_mappings (id, tenant_id, ldap_group_dn, ldap_group_name, store_id, store_name, grants_all_stores, created_at, updated_at) FROM stdin;
\.


--
-- Data for Name: ldap_sync_logs; Type: TABLE DATA; Schema: public; Owner: -
--



--
-- Data for Name: menu_permissions; Type: TABLE DATA; Schema: public; Owner: -
--



--
-- Data for Name: metrics; Type: TABLE DATA; Schema: public; Owner: -
--

COPY public.metrics (id, tenant_id, dataset_id, name, description, query_sql, result_type, format_pattern, prefix, suffix, aggregation_type, parameters, cache_ttl, is_active, created_at, updated_at, created_by, label, icon, color, clickhouse_table, db_column, filter_sql, group_by_column, order_by_column, order_direction, visualization_type, chart_config, format_config, comparison_enabled, comparison_type, target_value, target_column, default_width, default_height, comparison_config, use_sql_mode, custom_sql) FROM stdin;
\.


--
-- Data for Name: notifications; Type: TABLE DATA; Schema: public; Owner: -
--

COPY public.notifications (id, tenant_id, user_id, type, title, message, is_read, read_at, data, created_at) FROM stdin;
\.


--
-- Data for Name: ownership_groups; Type: TABLE DATA; Schema: public; Owner: -
--

COPY public.ownership_groups (id, tenant_id, code, name, description, color, icon, is_active, sort_order, created_at, updated_at) FROM stdin;
\.


--
-- Data for Name: positions; Type: TABLE DATA; Schema: public; Owner: -
--



--
-- Data for Name: regions; Type: TABLE DATA; Schema: public; Owner: -
--

COPY public.regions (id, tenant_id, code, name, description, is_active, created_at, manager_name, manager_email, sort_order, updated_at) FROM stdin;
\.


--
-- Data for Name: store_finance_settings; Type: TABLE DATA; Schema: public; Owner: -
--



--
-- Data for Name: stores; Type: TABLE DATA; Schema: public; Owner: -
--

COPY public.stores (id, tenant_id, code, name, store_type, region_id, city, address, phone, email, manager_name, opening_date, is_active, created_at, updated_at, ownership_group, district, postal_code, country, manager_email, closing_date, square_meters, employee_count, rent_amount, target_revenue, tags, metadata, sort_order) FROM stdin;
\.


--
-- Data for Name: system_settings; Type: TABLE DATA; Schema: public; Owner: -
--



--
-- Data for Name: tenants; Type: TABLE DATA; Schema: public; Owner: -
--

COPY public.tenants (id, name, slug, logo_url, settings, is_active, created_at, updated_at) FROM stdin;
00000000-0000-0000-0000-000000000001	Demo ┼Şirket	demo	\N	{"theme": "light", "language": "tr"}	t	2025-12-20 12:20:33.659946	2025-12-20 12:20:33.659946
\.


--
-- Data for Name: user_stores; Type: TABLE DATA; Schema: public; Owner: -
--

COPY public.user_stores (id, user_id, store_id, store_name, assigned_at, assigned_by) FROM stdin;
\.


--
-- Data for Name: users; Type: TABLE DATA; Schema: public; Owner: -
--



--
-- Name: audit_logs audit_logs_pkey; Type: CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.audit_logs
    ADD CONSTRAINT audit_logs_pkey PRIMARY KEY (id);


--
-- Name: components components_pkey; Type: CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.components
    ADD CONSTRAINT components_pkey PRIMARY KEY (id);


--
-- Name: data_connections data_connections_pkey; Type: CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.data_connections
    ADD CONSTRAINT data_connections_pkey PRIMARY KEY (id);


--
-- Name: datasets datasets_pkey; Type: CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.datasets
    ADD CONSTRAINT datasets_pkey PRIMARY KEY (id);


--
-- Name: design_permissions design_permissions_pkey; Type: CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.design_permissions
    ADD CONSTRAINT design_permissions_pkey PRIMARY KEY (id);


--
-- Name: design_widgets design_widgets_pkey; Type: CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.design_widgets
    ADD CONSTRAINT design_widgets_pkey PRIMARY KEY (id);


--
-- Name: designs designs_pkey; Type: CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.designs
    ADD CONSTRAINT designs_pkey PRIMARY KEY (id);


--
-- Name: etl_jobs etl_jobs_pkey; Type: CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.etl_jobs
    ADD CONSTRAINT etl_jobs_pkey PRIMARY KEY (id);


--
-- Name: etl_scheduler_logs etl_scheduler_logs_pkey; Type: CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.etl_scheduler_logs
    ADD CONSTRAINT etl_scheduler_logs_pkey PRIMARY KEY (id);


--
-- Name: etl_schedules etl_schedules_dataset_id_key; Type: CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.etl_schedules
    ADD CONSTRAINT etl_schedules_dataset_id_key UNIQUE (dataset_id);


--
-- Name: etl_schedules etl_schedules_pkey; Type: CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.etl_schedules
    ADD CONSTRAINT etl_schedules_pkey PRIMARY KEY (id);


--
-- Name: geographic_locations geographic_locations_pkey; Type: CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.geographic_locations
    ADD CONSTRAINT geographic_locations_pkey PRIMARY KEY (id);


--
-- Name: labels labels_pkey; Type: CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.labels
    ADD CONSTRAINT labels_pkey PRIMARY KEY (id);


--
-- Name: labels labels_tenant_id_label_type_label_key_key; Type: CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.labels
    ADD CONSTRAINT labels_tenant_id_label_type_label_key_key UNIQUE (tenant_id, label_type, label_key);


--
-- Name: ldap_config ldap_config_pkey; Type: CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.ldap_config
    ADD CONSTRAINT ldap_config_pkey PRIMARY KEY (id);


--
-- Name: ldap_config ldap_config_tenant_id_key; Type: CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.ldap_config
    ADD CONSTRAINT ldap_config_tenant_id_key UNIQUE (tenant_id);


--
-- Name: ldap_position_mappings ldap_position_mappings_pkey; Type: CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.ldap_position_mappings
    ADD CONSTRAINT ldap_position_mappings_pkey PRIMARY KEY (id);


--
-- Name: ldap_position_mappings ldap_position_mappings_tenant_id_ldap_group_dn_key; Type: CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.ldap_position_mappings
    ADD CONSTRAINT ldap_position_mappings_tenant_id_ldap_group_dn_key UNIQUE (tenant_id, ldap_group_dn);


--
-- Name: ldap_store_mappings ldap_store_mappings_pkey; Type: CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.ldap_store_mappings
    ADD CONSTRAINT ldap_store_mappings_pkey PRIMARY KEY (id);


--
-- Name: ldap_store_mappings ldap_store_mappings_tenant_id_ldap_group_dn_key; Type: CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.ldap_store_mappings
    ADD CONSTRAINT ldap_store_mappings_tenant_id_ldap_group_dn_key UNIQUE (tenant_id, ldap_group_dn);


--
-- Name: ldap_sync_logs ldap_sync_logs_pkey; Type: CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.ldap_sync_logs
    ADD CONSTRAINT ldap_sync_logs_pkey PRIMARY KEY (id);


--
-- Name: menu_permissions menu_permissions_pkey; Type: CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.menu_permissions
    ADD CONSTRAINT menu_permissions_pkey PRIMARY KEY (id);


--
-- Name: menu_permissions menu_permissions_position_code_menu_key_key; Type: CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.menu_permissions
    ADD CONSTRAINT menu_permissions_position_code_menu_key_key UNIQUE (position_code, menu_key);


--
-- Name: metrics metrics_pkey; Type: CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.metrics
    ADD CONSTRAINT metrics_pkey PRIMARY KEY (id);


--
-- Name: notifications notifications_pkey; Type: CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.notifications
    ADD CONSTRAINT notifications_pkey PRIMARY KEY (id);


--
-- Name: ownership_groups ownership_groups_pkey; Type: CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.ownership_groups
    ADD CONSTRAINT ownership_groups_pkey PRIMARY KEY (id);


--
-- Name: ownership_groups ownership_groups_tenant_id_code_key; Type: CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.ownership_groups
    ADD CONSTRAINT ownership_groups_tenant_id_code_key UNIQUE (tenant_id, code);


--
-- Name: positions positions_code_key; Type: CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.positions
    ADD CONSTRAINT positions_code_key UNIQUE (code);


--
-- Name: positions positions_pkey; Type: CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.positions
    ADD CONSTRAINT positions_pkey PRIMARY KEY (id);


--
-- Name: regions regions_pkey; Type: CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.regions
    ADD CONSTRAINT regions_pkey PRIMARY KEY (id);


--
-- Name: regions regions_tenant_id_code_key; Type: CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.regions
    ADD CONSTRAINT regions_tenant_id_code_key UNIQUE (tenant_id, code);


--
-- Name: store_finance_settings store_finance_settings_pkey; Type: CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.store_finance_settings
    ADD CONSTRAINT store_finance_settings_pkey PRIMARY KEY (id);


--
-- Name: store_finance_settings store_finance_settings_tenant_id_store_id_key; Type: CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.store_finance_settings
    ADD CONSTRAINT store_finance_settings_tenant_id_store_id_key UNIQUE (tenant_id, store_id);


--
-- Name: stores stores_pkey; Type: CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.stores
    ADD CONSTRAINT stores_pkey PRIMARY KEY (id);


--
-- Name: stores stores_tenant_id_code_key; Type: CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.stores
    ADD CONSTRAINT stores_tenant_id_code_key UNIQUE (tenant_id, code);


--
-- Name: system_settings system_settings_pkey; Type: CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.system_settings
    ADD CONSTRAINT system_settings_pkey PRIMARY KEY (id);


--
-- Name: system_settings system_settings_tenant_id_category_key_key; Type: CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.system_settings
    ADD CONSTRAINT system_settings_tenant_id_category_key_key UNIQUE (tenant_id, category, key);


--
-- Name: tenants tenants_pkey; Type: CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.tenants
    ADD CONSTRAINT tenants_pkey PRIMARY KEY (id);


--
-- Name: tenants tenants_slug_key; Type: CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.tenants
    ADD CONSTRAINT tenants_slug_key UNIQUE (slug);


--
-- Name: user_stores user_stores_pkey; Type: CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.user_stores
    ADD CONSTRAINT user_stores_pkey PRIMARY KEY (id);


--
-- Name: user_stores user_stores_user_id_store_id_key; Type: CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.user_stores
    ADD CONSTRAINT user_stores_user_id_store_id_key UNIQUE (user_id, store_id);


--
-- Name: users users_pkey; Type: CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.users
    ADD CONSTRAINT users_pkey PRIMARY KEY (id);


--
-- Name: users users_tenant_id_email_key; Type: CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.users
    ADD CONSTRAINT users_tenant_id_email_key UNIQUE (tenant_id, email);


--
-- Name: idx_audit_logs_action; Type: INDEX; Schema: public; Owner: -
--

CREATE INDEX idx_audit_logs_action ON public.audit_logs USING btree (action);


--
-- Name: idx_audit_logs_created; Type: INDEX; Schema: public; Owner: -
--

CREATE INDEX idx_audit_logs_created ON public.audit_logs USING btree (created_at);


--
-- Name: idx_audit_logs_created_at; Type: INDEX; Schema: public; Owner: -
--

CREATE INDEX idx_audit_logs_created_at ON public.audit_logs USING btree (created_at DESC);


--
-- Name: idx_audit_logs_created_at_action; Type: INDEX; Schema: public; Owner: -
--

CREATE INDEX idx_audit_logs_created_at_action ON public.audit_logs USING btree (created_at DESC, action);


--
-- Name: idx_audit_logs_tenant; Type: INDEX; Schema: public; Owner: -
--

CREATE INDEX idx_audit_logs_tenant ON public.audit_logs USING btree (tenant_id);


--
-- Name: idx_audit_logs_tenant_action_date; Type: INDEX; Schema: public; Owner: -
--

CREATE INDEX idx_audit_logs_tenant_action_date ON public.audit_logs USING btree (tenant_id, action, created_at DESC);


--
-- Name: idx_audit_logs_tenant_id; Type: INDEX; Schema: public; Owner: -
--

CREATE INDEX idx_audit_logs_tenant_id ON public.audit_logs USING btree (tenant_id);


--
-- Name: idx_audit_logs_user; Type: INDEX; Schema: public; Owner: -
--

CREATE INDEX idx_audit_logs_user ON public.audit_logs USING btree (user_id);


--
-- Name: idx_audit_logs_user_id; Type: INDEX; Schema: public; Owner: -
--

CREATE INDEX idx_audit_logs_user_id ON public.audit_logs USING btree (user_id);


--
-- Name: idx_components_dataset; Type: INDEX; Schema: public; Owner: -
--

CREATE INDEX idx_components_dataset ON public.components USING btree (dataset_id);


--
-- Name: idx_components_design; Type: INDEX; Schema: public; Owner: -
--

CREATE INDEX idx_components_design ON public.components USING btree (design_id);


--
-- Name: idx_connections_status; Type: INDEX; Schema: public; Owner: -
--

CREATE INDEX idx_connections_status ON public.data_connections USING btree (status);


--
-- Name: idx_connections_tenant; Type: INDEX; Schema: public; Owner: -
--

CREATE INDEX idx_connections_tenant ON public.data_connections USING btree (tenant_id);


--
-- Name: idx_datasets_connection; Type: INDEX; Schema: public; Owner: -
--

CREATE INDEX idx_datasets_connection ON public.datasets USING btree (connection_id);


--
-- Name: idx_datasets_status; Type: INDEX; Schema: public; Owner: -
--

CREATE INDEX idx_datasets_status ON public.datasets USING btree (status);


--
-- Name: idx_datasets_tenant; Type: INDEX; Schema: public; Owner: -
--

CREATE INDEX idx_datasets_tenant ON public.datasets USING btree (tenant_id);


--
-- Name: idx_designs_tenant; Type: INDEX; Schema: public; Owner: -
--

CREATE INDEX idx_designs_tenant ON public.designs USING btree (tenant_id);


--
-- Name: idx_etl_jobs_created; Type: INDEX; Schema: public; Owner: -
--

CREATE INDEX idx_etl_jobs_created ON public.etl_jobs USING btree (created_at DESC);


--
-- Name: idx_etl_jobs_dataset; Type: INDEX; Schema: public; Owner: -
--

CREATE INDEX idx_etl_jobs_dataset ON public.etl_jobs USING btree (dataset_id);


--
-- Name: idx_etl_jobs_status; Type: INDEX; Schema: public; Owner: -
--

CREATE INDEX idx_etl_jobs_status ON public.etl_jobs USING btree (status);


--
-- Name: idx_etl_jobs_tenant; Type: INDEX; Schema: public; Owner: -
--

CREATE INDEX idx_etl_jobs_tenant ON public.etl_jobs USING btree (tenant_id);


--
-- Name: idx_etl_schedules_dataset; Type: INDEX; Schema: public; Owner: -
--

CREATE INDEX idx_etl_schedules_dataset ON public.etl_schedules USING btree (dataset_id);


--
-- Name: idx_etl_schedules_next_run; Type: INDEX; Schema: public; Owner: -
--

CREATE INDEX idx_etl_schedules_next_run ON public.etl_schedules USING btree (next_run_at) WHERE (is_active = true);


--
-- Name: idx_geo_city; Type: INDEX; Schema: public; Owner: -
--

CREATE INDEX idx_geo_city ON public.geographic_locations USING btree (city_code, city_name);


--
-- Name: idx_geo_coords; Type: INDEX; Schema: public; Owner: -
--

CREATE INDEX idx_geo_coords ON public.geographic_locations USING btree (latitude, longitude);


--
-- Name: idx_geo_country; Type: INDEX; Schema: public; Owner: -
--

CREATE INDEX idx_geo_country ON public.geographic_locations USING btree (country_code);


--
-- Name: idx_geo_district; Type: INDEX; Schema: public; Owner: -
--

CREATE INDEX idx_geo_district ON public.geographic_locations USING btree (district_name);


--
-- Name: idx_geo_name_ascii; Type: INDEX; Schema: public; Owner: -
--

CREATE INDEX idx_geo_name_ascii ON public.geographic_locations USING btree (name_ascii);


--
-- Name: idx_geo_neighborhood; Type: INDEX; Schema: public; Owner: -
--

CREATE INDEX idx_geo_neighborhood ON public.geographic_locations USING btree (neighborhood_name);


--
-- Name: idx_geo_parent; Type: INDEX; Schema: public; Owner: -
--

CREATE INDEX idx_geo_parent ON public.geographic_locations USING btree (parent_id);


--
-- Name: idx_geo_region; Type: INDEX; Schema: public; Owner: -
--

CREATE INDEX idx_geo_region ON public.geographic_locations USING btree (region_code);


--
-- Name: idx_geo_search; Type: INDEX; Schema: public; Owner: -
--

CREATE INDEX idx_geo_search ON public.geographic_locations USING gin (to_tsvector('turkish'::regconfig, (((((COALESCE(city_name, ''::character varying))::text || ' '::text) || (COALESCE(district_name, ''::character varying))::text) || ' '::text) || (COALESCE(neighborhood_name, ''::character varying))::text)));


--
-- Name: idx_geo_type; Type: INDEX; Schema: public; Owner: -
--

CREATE INDEX idx_geo_type ON public.geographic_locations USING btree (location_type);


--
-- Name: idx_labels_key; Type: INDEX; Schema: public; Owner: -
--

CREATE INDEX idx_labels_key ON public.labels USING btree (label_key);


--
-- Name: idx_labels_tenant_type; Type: INDEX; Schema: public; Owner: -
--

CREATE INDEX idx_labels_tenant_type ON public.labels USING btree (tenant_id, label_type);


--
-- Name: idx_ldap_pos_tenant; Type: INDEX; Schema: public; Owner: -
--

CREATE INDEX idx_ldap_pos_tenant ON public.ldap_position_mappings USING btree (tenant_id);


--
-- Name: idx_ldap_store_tenant; Type: INDEX; Schema: public; Owner: -
--

CREATE INDEX idx_ldap_store_tenant ON public.ldap_store_mappings USING btree (tenant_id);


--
-- Name: idx_ldap_sync_date; Type: INDEX; Schema: public; Owner: -
--

CREATE INDEX idx_ldap_sync_date ON public.ldap_sync_logs USING btree (started_at DESC);


--
-- Name: idx_ldap_sync_tenant; Type: INDEX; Schema: public; Owner: -
--

CREATE INDEX idx_ldap_sync_tenant ON public.ldap_sync_logs USING btree (tenant_id);


--
-- Name: idx_metrics_dataset; Type: INDEX; Schema: public; Owner: -
--

CREATE INDEX idx_metrics_dataset ON public.metrics USING btree (dataset_id);


--
-- Name: idx_metrics_tenant; Type: INDEX; Schema: public; Owner: -
--

CREATE INDEX idx_metrics_tenant ON public.metrics USING btree (tenant_id);


--
-- Name: idx_notifications_unread; Type: INDEX; Schema: public; Owner: -
--

CREATE INDEX idx_notifications_unread ON public.notifications USING btree (user_id, is_read) WHERE (is_read = false);


--
-- Name: idx_notifications_user; Type: INDEX; Schema: public; Owner: -
--

CREATE INDEX idx_notifications_user ON public.notifications USING btree (user_id);


--
-- Name: idx_ownership_groups_tenant; Type: INDEX; Schema: public; Owner: -
--

CREATE INDEX idx_ownership_groups_tenant ON public.ownership_groups USING btree (tenant_id);


--
-- Name: idx_regions_tenant; Type: INDEX; Schema: public; Owner: -
--

CREATE INDEX idx_regions_tenant ON public.regions USING btree (tenant_id);


--
-- Name: idx_scheduler_logs_checked; Type: INDEX; Schema: public; Owner: -
--

CREATE INDEX idx_scheduler_logs_checked ON public.etl_scheduler_logs USING btree (checked_at DESC);


--
-- Name: idx_store_finance_store; Type: INDEX; Schema: public; Owner: -
--

CREATE INDEX idx_store_finance_store ON public.store_finance_settings USING btree (store_id);


--
-- Name: idx_store_finance_tenant; Type: INDEX; Schema: public; Owner: -
--

CREATE INDEX idx_store_finance_tenant ON public.store_finance_settings USING btree (tenant_id);


--
-- Name: idx_stores_active; Type: INDEX; Schema: public; Owner: -
--

CREATE INDEX idx_stores_active ON public.stores USING btree (is_active) WHERE (is_active = true);


--
-- Name: idx_stores_code; Type: INDEX; Schema: public; Owner: -
--

CREATE INDEX idx_stores_code ON public.stores USING btree (code);


--
-- Name: idx_stores_ownership; Type: INDEX; Schema: public; Owner: -
--

CREATE INDEX idx_stores_ownership ON public.stores USING btree (ownership_group);


--
-- Name: idx_stores_tenant; Type: INDEX; Schema: public; Owner: -
--

CREATE INDEX idx_stores_tenant ON public.stores USING btree (tenant_id);


--
-- Name: idx_user_stores_store; Type: INDEX; Schema: public; Owner: -
--

CREATE INDEX idx_user_stores_store ON public.user_stores USING btree (store_id);


--
-- Name: idx_user_stores_user; Type: INDEX; Schema: public; Owner: -
--

CREATE INDEX idx_user_stores_user ON public.user_stores USING btree (user_id);


--
-- Name: idx_users_email; Type: INDEX; Schema: public; Owner: -
--

CREATE INDEX idx_users_email ON public.users USING btree (email);


--
-- Name: idx_users_ldap_dn; Type: INDEX; Schema: public; Owner: -
--

CREATE INDEX idx_users_ldap_dn ON public.users USING btree (ldap_dn);


--
-- Name: idx_users_position; Type: INDEX; Schema: public; Owner: -
--

CREATE INDEX idx_users_position ON public.users USING btree (position_code);


--
-- Name: components update_components_updated_at; Type: TRIGGER; Schema: public; Owner: -
--

CREATE TRIGGER update_components_updated_at BEFORE UPDATE ON public.components FOR EACH ROW EXECUTE FUNCTION public.update_updated_at_column();


--
-- Name: data_connections update_data_connections_updated_at; Type: TRIGGER; Schema: public; Owner: -
--

CREATE TRIGGER update_data_connections_updated_at BEFORE UPDATE ON public.data_connections FOR EACH ROW EXECUTE FUNCTION public.update_updated_at_column();


--
-- Name: datasets update_datasets_updated_at; Type: TRIGGER; Schema: public; Owner: -
--

CREATE TRIGGER update_datasets_updated_at BEFORE UPDATE ON public.datasets FOR EACH ROW EXECUTE FUNCTION public.update_updated_at_column();


--
-- Name: designs update_designs_updated_at; Type: TRIGGER; Schema: public; Owner: -
--

CREATE TRIGGER update_designs_updated_at BEFORE UPDATE ON public.designs FOR EACH ROW EXECUTE FUNCTION public.update_updated_at_column();


--
-- Name: etl_schedules update_etl_schedules_updated_at; Type: TRIGGER; Schema: public; Owner: -
--

CREATE TRIGGER update_etl_schedules_updated_at BEFORE UPDATE ON public.etl_schedules FOR EACH ROW EXECUTE FUNCTION public.update_updated_at_column();


--
-- Name: metrics update_metrics_updated_at; Type: TRIGGER; Schema: public; Owner: -
--

CREATE TRIGGER update_metrics_updated_at BEFORE UPDATE ON public.metrics FOR EACH ROW EXECUTE FUNCTION public.update_updated_at_column();


--
-- Name: system_settings update_system_settings_updated_at; Type: TRIGGER; Schema: public; Owner: -
--

CREATE TRIGGER update_system_settings_updated_at BEFORE UPDATE ON public.system_settings FOR EACH ROW EXECUTE FUNCTION public.update_updated_at_column();


--
-- Name: tenants update_tenants_updated_at; Type: TRIGGER; Schema: public; Owner: -
--

CREATE TRIGGER update_tenants_updated_at BEFORE UPDATE ON public.tenants FOR EACH ROW EXECUTE FUNCTION public.update_updated_at_column();


--
-- Name: users update_users_updated_at; Type: TRIGGER; Schema: public; Owner: -
--

CREATE TRIGGER update_users_updated_at BEFORE UPDATE ON public.users FOR EACH ROW EXECUTE FUNCTION public.update_updated_at_column();


--
-- Name: components components_dataset_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.components
    ADD CONSTRAINT components_dataset_id_fkey FOREIGN KEY (dataset_id) REFERENCES public.datasets(id) ON DELETE SET NULL;


--
-- Name: components components_design_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.components
    ADD CONSTRAINT components_design_id_fkey FOREIGN KEY (design_id) REFERENCES public.designs(id) ON DELETE CASCADE;


--
-- Name: components components_tenant_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.components
    ADD CONSTRAINT components_tenant_id_fkey FOREIGN KEY (tenant_id) REFERENCES public.tenants(id) ON DELETE CASCADE;


--
-- Name: data_connections data_connections_created_by_fkey; Type: FK CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.data_connections
    ADD CONSTRAINT data_connections_created_by_fkey FOREIGN KEY (created_by) REFERENCES public.users(id);


--
-- Name: data_connections data_connections_tenant_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.data_connections
    ADD CONSTRAINT data_connections_tenant_id_fkey FOREIGN KEY (tenant_id) REFERENCES public.tenants(id) ON DELETE CASCADE;


--
-- Name: datasets datasets_connection_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.datasets
    ADD CONSTRAINT datasets_connection_id_fkey FOREIGN KEY (connection_id) REFERENCES public.data_connections(id) ON DELETE CASCADE;


--
-- Name: datasets datasets_created_by_fkey; Type: FK CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.datasets
    ADD CONSTRAINT datasets_created_by_fkey FOREIGN KEY (created_by) REFERENCES public.users(id);


--
-- Name: datasets datasets_tenant_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.datasets
    ADD CONSTRAINT datasets_tenant_id_fkey FOREIGN KEY (tenant_id) REFERENCES public.tenants(id) ON DELETE CASCADE;


--
-- Name: design_permissions design_permissions_design_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.design_permissions
    ADD CONSTRAINT design_permissions_design_id_fkey FOREIGN KEY (design_id) REFERENCES public.designs(id) ON DELETE CASCADE;


--
-- Name: design_widgets design_widgets_design_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.design_widgets
    ADD CONSTRAINT design_widgets_design_id_fkey FOREIGN KEY (design_id) REFERENCES public.designs(id) ON DELETE CASCADE;


--
-- Name: design_widgets design_widgets_metric_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.design_widgets
    ADD CONSTRAINT design_widgets_metric_id_fkey FOREIGN KEY (metric_id) REFERENCES public.metrics(id) ON DELETE SET NULL;


--
-- Name: designs designs_created_by_fkey; Type: FK CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.designs
    ADD CONSTRAINT designs_created_by_fkey FOREIGN KEY (created_by) REFERENCES public.users(id);


--
-- Name: designs designs_tenant_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.designs
    ADD CONSTRAINT designs_tenant_id_fkey FOREIGN KEY (tenant_id) REFERENCES public.tenants(id) ON DELETE CASCADE;


--
-- Name: etl_jobs etl_jobs_dataset_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.etl_jobs
    ADD CONSTRAINT etl_jobs_dataset_id_fkey FOREIGN KEY (dataset_id) REFERENCES public.datasets(id) ON DELETE CASCADE;


--
-- Name: etl_jobs etl_jobs_tenant_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.etl_jobs
    ADD CONSTRAINT etl_jobs_tenant_id_fkey FOREIGN KEY (tenant_id) REFERENCES public.tenants(id) ON DELETE CASCADE;


--
-- Name: etl_jobs etl_jobs_triggered_by_fkey; Type: FK CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.etl_jobs
    ADD CONSTRAINT etl_jobs_triggered_by_fkey FOREIGN KEY (triggered_by) REFERENCES public.users(id);


--
-- Name: etl_scheduler_logs etl_scheduler_logs_tenant_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.etl_scheduler_logs
    ADD CONSTRAINT etl_scheduler_logs_tenant_id_fkey FOREIGN KEY (tenant_id) REFERENCES public.tenants(id);


--
-- Name: etl_schedules etl_schedules_dataset_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.etl_schedules
    ADD CONSTRAINT etl_schedules_dataset_id_fkey FOREIGN KEY (dataset_id) REFERENCES public.datasets(id) ON DELETE CASCADE;


--
-- Name: etl_schedules etl_schedules_last_job_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.etl_schedules
    ADD CONSTRAINT etl_schedules_last_job_id_fkey FOREIGN KEY (last_job_id) REFERENCES public.etl_jobs(id);


--
-- Name: etl_schedules etl_schedules_tenant_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.etl_schedules
    ADD CONSTRAINT etl_schedules_tenant_id_fkey FOREIGN KEY (tenant_id) REFERENCES public.tenants(id) ON DELETE CASCADE;


--
-- Name: geographic_locations geographic_locations_parent_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.geographic_locations
    ADD CONSTRAINT geographic_locations_parent_id_fkey FOREIGN KEY (parent_id) REFERENCES public.geographic_locations(id) ON DELETE SET NULL;


--
-- Name: labels labels_tenant_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.labels
    ADD CONSTRAINT labels_tenant_id_fkey FOREIGN KEY (tenant_id) REFERENCES public.tenants(id) ON DELETE CASCADE;


--
-- Name: ldap_config ldap_config_tenant_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.ldap_config
    ADD CONSTRAINT ldap_config_tenant_id_fkey FOREIGN KEY (tenant_id) REFERENCES public.tenants(id) ON DELETE CASCADE;


--
-- Name: ldap_position_mappings ldap_position_mappings_position_code_fkey; Type: FK CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.ldap_position_mappings
    ADD CONSTRAINT ldap_position_mappings_position_code_fkey FOREIGN KEY (position_code) REFERENCES public.positions(code);


--
-- Name: ldap_position_mappings ldap_position_mappings_tenant_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.ldap_position_mappings
    ADD CONSTRAINT ldap_position_mappings_tenant_id_fkey FOREIGN KEY (tenant_id) REFERENCES public.tenants(id) ON DELETE CASCADE;


--
-- Name: ldap_store_mappings ldap_store_mappings_tenant_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.ldap_store_mappings
    ADD CONSTRAINT ldap_store_mappings_tenant_id_fkey FOREIGN KEY (tenant_id) REFERENCES public.tenants(id) ON DELETE CASCADE;


--
-- Name: ldap_sync_logs ldap_sync_logs_tenant_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.ldap_sync_logs
    ADD CONSTRAINT ldap_sync_logs_tenant_id_fkey FOREIGN KEY (tenant_id) REFERENCES public.tenants(id) ON DELETE CASCADE;


--
-- Name: menu_permissions menu_permissions_position_code_fkey; Type: FK CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.menu_permissions
    ADD CONSTRAINT menu_permissions_position_code_fkey FOREIGN KEY (position_code) REFERENCES public.positions(code) ON DELETE CASCADE;


--
-- Name: metrics metrics_created_by_fkey; Type: FK CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.metrics
    ADD CONSTRAINT metrics_created_by_fkey FOREIGN KEY (created_by) REFERENCES public.users(id);


--
-- Name: metrics metrics_dataset_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.metrics
    ADD CONSTRAINT metrics_dataset_id_fkey FOREIGN KEY (dataset_id) REFERENCES public.datasets(id) ON DELETE SET NULL;


--
-- Name: metrics metrics_tenant_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.metrics
    ADD CONSTRAINT metrics_tenant_id_fkey FOREIGN KEY (tenant_id) REFERENCES public.tenants(id) ON DELETE CASCADE;


--
-- Name: notifications notifications_tenant_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.notifications
    ADD CONSTRAINT notifications_tenant_id_fkey FOREIGN KEY (tenant_id) REFERENCES public.tenants(id) ON DELETE CASCADE;


--
-- Name: notifications notifications_user_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.notifications
    ADD CONSTRAINT notifications_user_id_fkey FOREIGN KEY (user_id) REFERENCES public.users(id) ON DELETE CASCADE;


--
-- Name: ownership_groups ownership_groups_tenant_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.ownership_groups
    ADD CONSTRAINT ownership_groups_tenant_id_fkey FOREIGN KEY (tenant_id) REFERENCES public.tenants(id) ON DELETE CASCADE;


--
-- Name: regions regions_tenant_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.regions
    ADD CONSTRAINT regions_tenant_id_fkey FOREIGN KEY (tenant_id) REFERENCES public.tenants(id);


--
-- Name: store_finance_settings store_finance_settings_tenant_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.store_finance_settings
    ADD CONSTRAINT store_finance_settings_tenant_id_fkey FOREIGN KEY (tenant_id) REFERENCES public.tenants(id);


--
-- Name: stores stores_region_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.stores
    ADD CONSTRAINT stores_region_id_fkey FOREIGN KEY (region_id) REFERENCES public.regions(id);


--
-- Name: stores stores_tenant_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.stores
    ADD CONSTRAINT stores_tenant_id_fkey FOREIGN KEY (tenant_id) REFERENCES public.tenants(id);


--
-- Name: system_settings system_settings_tenant_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.system_settings
    ADD CONSTRAINT system_settings_tenant_id_fkey FOREIGN KEY (tenant_id) REFERENCES public.tenants(id) ON DELETE CASCADE;


--
-- Name: user_stores user_stores_assigned_by_fkey; Type: FK CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.user_stores
    ADD CONSTRAINT user_stores_assigned_by_fkey FOREIGN KEY (assigned_by) REFERENCES public.users(id);


--
-- Name: user_stores user_stores_user_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.user_stores
    ADD CONSTRAINT user_stores_user_id_fkey FOREIGN KEY (user_id) REFERENCES public.users(id) ON DELETE CASCADE;


--
-- Name: users users_tenant_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.users
    ADD CONSTRAINT users_tenant_id_fkey FOREIGN KEY (tenant_id) REFERENCES public.tenants(id) ON DELETE CASCADE;


--
-- PostgreSQL database dump complete
--

\unrestrict e3TcngHconK6CmetzMicMxrtxvzFIYdhkTRz2UsnZXi9JX6DpGKWhrvvJA4eB1m

